fastapi==0.115.12
uvicorn[standard]==0.34.0
python-multipart==0.0.20
requests==2.32.3
SQLAlchemy==2.0.40
python-dotenv==1.1.0
Pillow==11.1.0
qdrant-client==1.13.3
torch==2.6.0
torchvision==0.21.0
git+https://github.com/openai/CLIP.git
psycopg2-binary==2.9.10